@font-face {
    font-family: 'Sugar Brown';
    src: url("../assets/fonts/Brown-Sugar/BrownSugar.ttf") format('truetype');
}
@font-face {
    font-family: 'Classy';
    src: url("../assets/fonts/classy/ClassFreeTrial.otf") format('opentype');
    
    
}