@font-face {
    font-family: 'Classy';
    src: url("../assets/fonts/classy/ClassFreeTrial.otf") format('opentype');
    
    
}

html, body{ 
   
    min-width:100%;
  }
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100%;
    min-height: 100vh; /* important: body fills the full height */
  
  
    font-family: 'Classy', sans-serif !important; /* or Arial, sans-serif */
    color: #333;
    line-height: 1.6;
    overflow-x: hidden; /* optional: no side scroll */
    background-color: #F3F1EB;
    background-color: #FFFAF0;
   
}



@font-face {
    font-family: 'Sugar Brown';
    src: url("../assets/fonts/Brown-Sugar/BrownSugar.ttf") type('truetype');
}
